@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-weight: 500;
}

a {
  font-weight: 500;
}

@layer utilities {
  .button {
    width: 100%;
    height: 2.25rem;
    border-radius: 8px;
    cursor: pointer;
  }
  .input {
    width: 100%;
    padding: 0.5rem;
    border-bottom: 2px solid #cbd5e0;
    font-weight: 500;
    outline: none;
  }
  .link-button {
    width: 100%;
    height: 2.25rem;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 2.25rem;
  }
  .title {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: bold;
  }
  .ellipsis {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .multi-ellipsis {
    width: 100%;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-2 {
    -webkit-line-clamp: 2;
  }
  .line-clamp-3 {
    -webkit-line-clamp: 3;
  }
  .line-clamp-4 {
    -webkit-line-clamp: 4;
  }
  .scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 9999px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  .kakao-color {
    background: #fee500;
    color: #000;
  }
  .naver-color {
    background: #03c75a;
    color: #fff;
  }
  .login-btn {
    padding: 0 8px;
    height: 56px;
    flex: 1;
    min-width: 200px;
    display: flex;
    align-items: center;
    border-radius: 6px;
  }
  .login-btn-text {
    padding-right: 15px;
    width: calc(100% - 56px);
    text-align: center;
  }
  .center-line {
    position: relative;
    height: 30px;
    text-align: center;
  }
  .center-line:before,
  .center-line:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: rgb(163 163 163);
  }
  .center-line:before {
    left: 0;
  }
  .center-line:after {
    right: 0;
  }
  .center-line-text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3px 10px 0;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 10;
  }
}
