@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-weight: 500;
}

a {
  font-weight: 500;
}

@layer utilities {
  .button {
    width: 100%;
    height: 2.25rem;
    border-radius: 8px;
    cursor: pointer;
  }
  .input {
    width: 100%;
    padding: 0.5rem;
    border-bottom: 2px solid #cbd5e0;
    font-weight: 500;
    outline: none;
  }
  .link-button {
    width: 100%;
    height: 2.25rem;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 2.25rem;
  }
  .title {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: bold;
  }
}
